<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 기기 Mapper -->
<mapper namespace="com.y2k.device.DeviceMapper">

    <!-- 기기 리스트 조회 -->
    <select id="getDvcList" parameterType="com.y2k.device.DeviceModel" resultType="com.y2k.device.DeviceModel">
        SELECT
            *
        FROM
            device
        WHERE
            dvc_use_yn = 'Y'
        ORDER BY
            dvc_name
        LIMIT
            12
    </select>

    <!-- 기기 조회 -->
    <select id="getDvc" parameterType="String" resultType="com.y2k.device.DeviceModel">
        SELECT
            *
        FROM
            device
        WHERE
            dvc_use_yn = 'Y'
        AND
            dvc_id = '${dvcId}'
    </select>

    <!-- 전체 기기 OP 조회 / 다운로드 중인지 체크 -->
    <select id="getAllDvcOpStts" resultType="int">
        SELECT
            count(dvc_id)
        FROM
            device
        WHERE
            dvc_op_stts = 3
    </select>

    <!-- 기기 OP 수정 -->
    <update id="updateDvcOpStts" parameterType="com.y2k.device.DeviceModel">
        UPDATE
            device
        SET
            dvc_op_stts = '${dvcOpStts}'
        WHERE
            dvc_id = '${dvcId}'
    </update>

    <!-- 기기 추가 -->
    <insert id="addDvc" parameterType="com.y2k.device.DeviceModel">
        INSERT INTO device (
            dvc_id,
            dvc_type,
            dvc_name,
            dvc_brc
        ) VALUES (
            (
                SELECT
                    dvc_id
                FROM (
                    SELECT
                        concat(left(max(DVC_ID), 9), LPAD(right(max(DVC_ID), 3) + 1, 3 , 0)) as dvc_id
                    FROM
                        device
                    WHERE
                        dvc_type = '${dvcType}'
                ) dvcId
            ),
            '${dvcType}',
            (
                SELECT
                    dvc_name
                FROM (
                    SELECT
                        concat(max(DVC_TYPE), '-', LPAD(right(max(DVC_ID), 3) + 1, 3 , 0), '-', mid(max(DVC_ID), 8, 1)) as dvc_name
                    FROM
                        device
                    WHERE
                        dvc_type = '${dvcType}'
                ) dvcName
            ),
            '${dvcBrc}'
        )
    </insert>

    <!-- 기기 수정 -->
    <update id="modifyDvc" parameterType="com.y2k.device.DeviceModel">
        UPDATE
            device
        SET
            dvc_brc = '${dvcBrc}'
        WHERE
            dvc_id = '${dvcId}'
    </update>

    <!-- 기기 삭제 -->
    <update id="removeDvc" parameterType="String">
        UPDATE
            device
        SET
            dvc_use_yn = 'N'
        WHERE
            dvc_id IN ('${dvcIdList}')
    </update>

    <!-- 기기 상태 변경 -->
    <update id="updateDvcStts" parameterType="String">
        UPDATE
            device
        SET
            dvc_stts = 1
        WHERE
            dvc_id = '${dvcId}'
    </update>

    <!-- 전체 기기 업데이트 상태 변경 -->
    <update id="updateAllDvcUpdtStts">
        UPDATE
            device
        SET
            dvc_updt_stts = 1,
            dvc_op_stts = 1
    </update>

    <!-- 기기 업데이트 상태 변경 -->
    <update id="updateDvcUpdtStts" parameterType="String">
        UPDATE
            device
        SET
            dvc_updt_stts = 0
        WHERE
            dvc_id = '${dvcId}'
    </update>

</mapper>