<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 테스트 Mapper -->
<mapper namespace="com.y2k.test.TestMapper">

    <!-- 조회 테스트 -->
    <select id="select" parameterType="com.y2k.test.TestModel" resultType="com.y2k.test.TestModel">
        SELECT
            *
        FROM
            test
    </select>

    <!-- 회원조회 테스트 -->
    <select id="selectMember" parameterType="com.y2k.member.MemberModel" resultType="com.y2k.member.MemberModel">
        SELECT
            *
        FROM
            member
        WHERE
            member_id = #{memberId}
        AND
            member_pw = #{memberPw}
    </select>

    <!-- 토큰 삽입 테스트 -->
    <update id="insertToken" parameterType="com.y2k.member.MemberModel">
        UPDATE 
            member
        SET
            cert_token = #{certToken}
        WHERE
            member_id = #{memberId}
        AND
            member_pw = #{memberPw}
    </update>

</mapper>