@font-face {
    font-family: 'JeonjuCraftMjB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjB.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'JeonjuCraftMjB';
    font-style:normal;
    font-size: 11px;
}


.content{
    margin: 9px 60px;
}


.inputbox{
    font-size: 12px;
    height: 15px;
    width: 350px;
    border: 0;
    border-bottom: 1px solid #484848;
    line-height: 1;
    outline: none;
}


.joinBtn1{
    border-radius: 50px;
    height: 30px;
    width: 85px;
    border: 1px solid #e3e2e2;
    background-color: #fbfce3;
    color: #000000;
    font-weight: 200;
    font-size: 13px;
    display: inline-block;
    font-family: 'SUIT-Regular';
}


.joinBtn2{
    border-radius: 50px;
    height: 40px;
    width: 150px;
    border: 1px solid #e3e2e2;
    background-color: #fbfce3;
    color: #000000;
    font-weight: 200;
    font-size: 13px;
    font-family: 'SUIT-Regular';
    margin: 30px 160px;

}


.box{
    width: 600px;
    height:800px;
    margin:0 auto;
}